python-dotenv
psycopg2-binary
llama-index
openai
mysql-connector-python
pypdf
langchain
faiss-cpu
psycopg2-binary
llama-index-embeddings-openai
docx2txt
pandas
transformers
optimum[exporters]
InstructorEmbedding
sentence_transformers 